body {
  margin: 0;
}

main {
  background: url("../img/photo-1579935110464-fcd041be62d0.webp") no-repeat
    center/cover;
  height: 100vh;
}

header {
  display: flex;
  color: whitesmoke;
  padding-left: 5%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding-left: 30px;
}
li:last-of-type {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
